#divOperacion-frm-sewing{
    width: 600px;
    margin: auto;
    background-color: white;
}

#divOperacion-frm-sewing-registros{
    width: 600px;
    margin: auto;
    background-color: white;
}

#tabla-sewing{
    max-height: 600px;
}