

.myHeader, .myCell{
    flex: 0 0 100px;
    white-space: nowrap;
  }


  .col-factor-foleo {
    width: 120px;
    padding-left: 10px;
    padding-right: 10px;
}

#tbl-foleo-factor{
  max-height: 600px;
}

