#divOperacion-frm-manufacturing{
    width: 600px;
    margin: auto;
    background-color: white;
}

#divOperacion-frm-manufacturing-registros{
    width: 800px;
    margin: auto;
    background-color: white;
}

#tabla-manufacturing{
    max-height: 600px;
}