#divOperacion-frm-stitch-inch{
    width: 400px;
    margin: auto;
    background-color: white;
}

#divOperacion-frm-stitch-inch-registros{
    width: 600px;
    margin: auto;
    background-color: white;
}

#tabla-stitch-inch{
    max-height: 600px;
}