<div class="container" *ngIf="this.Open">

    <div class="formulario" id="divOperacion-frm-ounce">

        <div class="head-form">
          <div class="from-encabezado-titulo"><p>FABRIC CLASSIFICATION BY OUNCE</p></div>
          <div class="from-encabezado-salir"><a href="#" (click)="Cerrar()"><fa-icon [icon]="['fas', 'sign-out-alt']" class="fa-lg" style="color:white"></fa-icon></a></div>
        </div>
    
        <div class="container">
            <form class="form"   [formGroup]="val.ValForm"  novalidate>
    

                <div class="row">
                    <mat-form-field class="col-sm-12 col-md-4 col-lg-4">
                        <mat-label><b>OUNCES</b></mat-label>
                        <input  matInput type="text" id="txt_Operacion_ounce"  formControlName="txt_Operacion_ounce" placeholder="" (keydown.enter)="onKeyEnter($event)">
                        <mat-error *ngIf="val.ValForm.get('txt_Operacion_ounce')?.errors?.Regla=='1'">Ounces it is <strong>required</strong></mat-error>
                        <mat-error *ngIf="val.ValForm.get('txt_Operacion_ounce')?.errors?.Regla=='2'">Only positive <strong>number are allowed</strong></mat-error>
                    </mat-form-field>


                    <mat-form-field class="col-sm-12 col-md-4 col-lg-4">
                        <mat-label><b>CATEGORY</b></mat-label>
                        <mat-select appAutofocus [(value)]="str_Category" id="txt_Operacion_ounce_category" formControlName="txt_Operacion_ounce_category" (keydown.enter)="onKeyEnter($event)">
                          <mat-option  value="N/A">N/A</mat-option>
                          <mat-option  value="LIGHTWEIGHT">LIGHTWEIGHT</mat-option>
                            <mat-option  value="MEDIUM">MEDIUM</mat-option>
                            <mat-option  value="MEDIUM-HEAVY">MEDIUM-HEAVY</mat-option>
                            <mat-option  value="HEAVY">HEAVY</mat-option>
                        </mat-select>
                        <mat-error *ngIf="val.ValForm.get('txt_Operacion_ounce_category')?.errors?.Regla=='1'">Category it is <strong>required</strong></mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-sm-12 col-md-4 col-lg-4">
                      <mat-label><b>CODE</b></mat-label>
                      <input matInput type="text" id="txt_Operacion_ounce_code" formControlName="txt_Operacion_ounce_code" placeholder="" (keydown.enter)="onKeyEnter($event)">
                      <mat-error *ngIf="val.ValForm.get('txt_Operacion_ounce_code')?.errors?.Regla=='1'">Code it is <strong>required</strong></mat-error>
                      <mat-error *ngIf="val.ValForm.get('txt_Operacion_ounce_code')?.errors?.Regla=='2'">Only <strong>3</strong> Characters</mat-error>
                  </mat-form-field>

                </div>


  


                <div class="row">
                    <div class="col-12">
                        <div class="button-row text-end">
                            <button type="button" [disabled]="this.Editar" class="btn btn-outline-primary" (click)="Nuevo()"><fa-icon [icon]="['fas', 'plus']" class="fa-lg"></fa-icon> New</button>
                            <button type="button" [disabled]="val.ValForm.invalid || !this.Editar"  class="btn btn-outline-success"  (click)="Guardar()" ><fa-icon [icon]="['fas', 'save']" class="fa-lg"></fa-icon> Save</button>
                            <button type="button"  class="btn btn-outline-secondary" (click)="Limpiar()"><fa-icon [icon]="['fas', 'broom']" class="fa-lg"></fa-icon> Cancel</button>
                        </div>
                    </div>
                </div>
    
            </form>
        </div>
    
    </div>



    <div class="Lista-Registro" id="divOperacion-frm-ounce-registros">
        <div class="franja"><p>Records</p></div>
    
        <div class="container">
          <div class="row">

            <div class="col-sm-12 col-md-4 col-md-6">
              <mat-form-field>
                <mat-label>Find</mat-label>
                <input appAutofocus matInput (keyup)="filtrar($event)" placeholder="Find">
              </mat-form-field>
            </div>
            

            <div class="col-sm-12 col-md-4 col-md-6">
              <div class="button-row text-end">
                <button type="button" class="btn btn-outline-secondary" (click)="LlenarTabla()"><b>Refresh</b> <fa-icon [icon]="['fas', 'search']" class="fa-2x"></fa-icon></button>
              </div>
            </div>


          </div>
        </div>
          
      
       
        <div class="mat-elevation-z8" Id="tabla-ounce" >


              <table mat-table  [dataSource]="dataSource"  matSort (matSortChange)="announceSort($event)" >
            
  
              <ng-container matColumnDef="IdOunce">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element; let j = index" style="color:#1b364c; font-weight: bold;"> {{j+1}} </td>
              </ng-container>


              <ng-container matColumnDef="Ounce">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Ounce">
                    Ounce.
                </th>
                <td mat-cell *matCellDef="let element"> {{element.Ounce}} </td>
              </ng-container>

              <ng-container matColumnDef="Category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Category">
                    Category.
                </th>
                <td mat-cell *matCellDef="let element"> {{element.Category}} </td>
              </ng-container>
    

              <ng-container matColumnDef="Code">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Code">
                  Code.
                </th>
                <td mat-cell *matCellDef="let element"> {{element.Code}} </td>
              </ng-container>

       
              <ng-container matColumnDef="Editar">
                <th mat-header-cell *matHeaderCellDef>
                </th>
                <td mat-cell *matCellDef="let element" >
                  <a href="#" (click)="clickRow(element, 'Editar')"><fa-icon [icon]="['fas', 'edit']" class="fa-2x" style="color:#1b364c"></fa-icon></a>
                </td>
              </ng-container>

              <ng-container matColumnDef="Eliminar">
                <th mat-header-cell *matHeaderCellDef>
                </th>
                <td mat-cell *matCellDef="let element" >
                  <a href="#" (click)="clickRow(element, 'Eliminar')"><fa-icon [icon]="['fas', 'trash-alt']" class="fa-2x" style="color:maroon"></fa-icon></a>
                </td>
              </ng-container>

       
  
          
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr
              mat-row  [class.demo-row-is-clicked]="clickedRows.has(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
              
            </table>
            <mat-paginator [pageSizeOptions]="[25, 50, 100]"  showFirstLastButtons></mat-paginator>
        </div>
    
            
    
       
    </div>




</div>

