#divOperacion-frm-sewingaccuracy{
    width: 600px;
    margin: auto;
    background-color: white;
}

#divOperacion-frm-sewingaccuracy-registros{
    width: 600px;
    margin: auto;
    background-color: white;
}

#tabla-sewingaccuracy{
    max-height: 600px;
}