<div class="formulario" id="divconfirmar-eliminar" >
    <div class="head-form">
        <div class="from-encabezado-titulo"><p>Eliminar</p></div>
    </div>

    <div class="container">

            <div class="row">
              <p>Esta seguro de Eliminar?</p>
            </div>
            <div class="col-12">
                <div class="button-row text-end" id="div-btn-confirmar-eliminar">
                    <button type="button" class="btn btn-outline-success" (click)="Confirmar()">Aceptar</button>
                    <button type="button" class="btn btn-outline-secondary" (click)="Cancelar()">Cancelar</button>
                </div>
            </div>
      </div>

</div>
