#divOperacion-frm-needle-type{
    width: 400px;
    margin: auto;
    background-color: white;
}

#divOperacion-frm-needle-type-registros{
    width: 600px;
    margin: auto;
    background-color: white;
}

#tabla-needle-type{
    max-height: 600px;
}